.zoom-in-zoom-out {
    /* margin: 24px; */
    margin: 16px 10px 10px 17px;
    width: 100%;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }